
  <nav class="uk-navbar-container" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: 0;">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a href="/home" class="uk-navbar-item nav-logo">Greater San Diego Origami Group</a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="/about">About</a></li>
          <li><a href="/meetings">Meetings</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/legacy">Legacy</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <button class="uk-navbar-toggle uk-hidden@m" type="button" uk-navbar-toggle-icon uk-toggle="target: #mobile-nav"></button>
      </div>
    </div>
  </div>
</nav>

<div id="mobile-nav" class="uk-offcanvas" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-dark">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default uk-margin-large-top">
      <li><a href="/about">About</a></li>
      <li><a href="/meetings">Meetings</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/legacy">Legacy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
